body{
    margin:0;
	padding:0;
	background: #47c9af;
	color:#74777b;
	font-weight:300;
	font-size:1.5em;
	font-family: "Raleway","Araill"}

ul{
    list-style:none;
	padding: 0;
	margin: 0;
}

a:link,a:visited,a:focus{text-decoration: none;
						outline: none;}

*,*:after,*:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;/*防止任意标签生成的效果影响盒子大小*/
}

*:after,*:before{
	display:block;
	content:"";
}

*:after{clear:both;}/*清除浮动*/

/*Navgation*/
.nav{
	width:800px;
	margin:100px 50px 50px 100px;
}
.nav li{
	display: inline-block;
	margin:0em 1em;/*上下0 左右1  上右下左*/
}
.tooltip{/*a*/
	display: inline-block;
	font-weight:700;
	color: rgba(0,0,0,0.3);
	padding: 0.15em 0.25em 0 0 ;
	position: relative;
	z-index: 999;/*设置元素的堆叠顺序*/
	background: #47c9af;
	-webkit-transition:color 1s;
	transition:color 1s;
}
.tooltip:hover,.aOn{
    color:rgba(225,225,225,1);
    }/*字体颜色变化*/
.tooltip .tooltip-content {/*图标span*/
	position: absolute;
	z-index: 9999;
	width: 80px;
	height: 80px;
	border-radius:50px;
	background: #fff;
	left:50%;
	margin-left: -40px;
	bottom: 100%;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 25px;
	color: #47c9af;
	opacity: 0;
	-webkit-transition:opacity 1s,webkit-transform 1s;
	transition:opacity 1s,transform 1s;
}
.tooltip .tooltip-content i{/*span图标*/
	opacity:0;
    font-size: 30px;
	-webkit-transition:opacity 1s,webkit-transform 1s;
	transition:opacity 1s,transform 1s;
}
.tooltip-effect .tooltip-content {
	-webkit-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
	transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
	-webkit-transform-origin:50% 100%;
	transform-origin:50% 100%;
}
.tooltip-effect .tooltip-content i{/*toolitip-effect-1下的tooltip-content的样式*/
	-webkit-transform:translate3d(0,20px,0);
	transform:rotate3d(0,20px,0);
}
.tooltip-effect .tooltip-content i{
	-webkit-transform:scale3d(0,0,1);
	transform:scale3d(0,0,1);
}
.tooltip:hover .tooltip-content,.tooltip:hover .tooltip-content i,.tooltipOn,.faOn{
	opacity: 1 !important;
	-webkit-transform:translate3d(0,0,0) rotate3d(1,1,1,0) scale3d(1,1,1) !important;
	transform:translate3d(0,0,0) rotate3d(1,1,1,0) scale3d(1,1,1) !important;
}
/*ended navgation*/

/*start introduction*/
.dodo,.benben{
    width:50%;
    float: left;
}
.photo{
    text-align: center;
    position: relative;
    width:200px;
    height:200px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.overlay{
    z-index: 9999;
    width:100px;
    height:100px;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    position:absolute;
    top:25%;
    left:25%;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s;
}
.overlay span{
    position: relative;
    top: 40px;
    color: #fff;
}
.photo img{
    width:200px;
    height:200px;
    z-index: 999;
    border-radius: 50%;
    box-shadow: 0 0 10px 20px rgba(255,255,255,0.5);
}
.overlayOn{
    opacity: 1 !important;
    transform:scale(2,2);
	-webkit-transform:scale(2,2);
	-o-transform:scale(2,2);
}

.intro p{
    color:#eee;
    margin-left: 30%;
    border-bottom: 1px solid #eee;
    width:60%;
    padding-left: 20px;
}
