*,body{
    margin:0;
    padding:0;
}
body{
    font-family: "微软雅黑";
    text-align: center;
}
 a{
    font-family: "华文行楷";
}
.clear{
    clear: both;
}
/*--start 导航栏--*/
.menu{
    z-index: 9999;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 30px;
    top:30px;
    background: rgba(255,255,255,0.7);
    border:3px solid #eee;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(255,255,255,0.2);
    transition: right 0.5s;
}
.menu .fa{
    font-size: 30px;
    color: #47c9af;
    position: relative;
    top:15px;
}
.navigation{
    width:200px;
    height:400px;
    z-index: 99999;
    position: fixed;
    top:15px;
    right:0;
    background: #1C1C1C;
    border-radius: 5px;
    display: none;
}
ul{
    list-style: none;
    margin-top: 20px;
    margin-left: 20px;
}
.navigation li{
    height: 50px;
    text-align: left !important;

}
.navigation li a{
    font-size: 20px;
    color:#E8E8E8;
    font-family: "微软雅黑";
}
.navigation .fa{
    color: #47c9af;
    font-size: 25px;
}
.menuGo{
    right:210px;
}
/*--ended 导航栏--*/

/*--start 回到顶部浮标--*/
.gotoTop{
    position: fixed;
    bottom: 20px;
    right:20px;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    z-index: 99999;
    background: rgba(28, 28,28, 0.5);
    transition: bax-shadow 0.5s,background 0.5;
}
.gotoTop:hover{
    box-shadow:0 0 0 10px rgba(139,137,137,0.5);
    background: #fff;
}
.gotoTop:hover .fa{
    color:	#FFA500;
}
.gotoTop .fa{
    font-size: 35px;
    margin-top: 7px;
    color: #FFFAFA;
    transition: color 0.5s;
}
/*--ended 回到顶部浮标--*/

/*--start Disadvantages首页--*/
#homeNav{
    margin-bottom: -60px;
}
table{
    width: 100%;
    height: 100%;
}
td{
    width:30%;
    height: 33%;
}
tr,td{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    vertical-align: middle;
}
td img{
    width:200px;
    height: 200px;
    border: 1px solid #eee;
    border-radius: 50%;
}
.blue{
    background: url('../images/bg2.jpg');
}
.black{
    background: url('../images/bg0.png');
    width:40%;
}
.black .title{
    position: relative;
    top: 50px;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}
.black .title i{
    font-style: normal;
    color: #cd3700;
}
.black .small{
    position: relative;
    top: 40px;
    left: 30%;
    color: #9370DB;
}
.purple{
    background: url('../images/bg1.jpg');
    width:20%;
}
.orange{
    background: url('../images/bg3.jpg');
}
.purple a,.word a{
    display: inline-block;
    width:200px;
    height: 200px;
    /*border: 1px solid #eee;*/
    border-radius: 50%;
    line-height: 200px;
    color: #FFEFD5;
}
/*--ended Disadvantages首页--*/

.page{
    margin-bottom: -20px;
    padding-bottom: 30px;
}
.page h1{
    text-align: center;
    width: 300px;
    margin:20px auto;
    padding-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid #337ab7;
}
.page h1 a:hover{
    text-decoration: none;
}
.page p{
    /*font-family: "微软雅黑";*/
    text-indent: 2em;
    font-size: 20px;
    text-align: left;
}
/*--start 荒废学业--*/
#study{
    margin-top: -20px;
}
#study .studyIntro,.banner p{
    width:80%;
    margin:0 auto;
    padding-bottom: 30px;
}
.studyImg{
    height:320px;
    text-align: center;
}
#study img{
    float: left;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    width:24%;
    height:300px;
    border:1px solid gray;
    border-radius: 5px;
}
/*--ended 荒废学业--*/

/*--start 对生理健康的影响--*/
#physical{
    background: #eaeaea;
}
.leftContent{
    display:inline-block;
    height: 50%;
    width:35%;
}
.arrow{
    position: relative;
    left:60px;
    bottom: 50px;
}
.arrow .fa{
    font-size: 50px;
}
.rightContent img{
    float: right;
    width:30%;
    margin-right: 15%;
    height:50%;
    height:300px;
}
/*--ended 对生理健康的影响--*/

/*--start 对心理健康的影响--*/
#mentally{
    background: #eaf7f4;
}
#mentally img{
    border:1px solid #eee;
    border-radius: 50%;
    height:400px;
    width:400px;
}
#mentally .mentalIntro{
    display: inline-block;
    width:60%;
    height:400px;
}
.topContent{
    margin-bottom: 50px;
}
.topContent img{
    float: left;
    margin-left: 50px;
}
.bottomContent img{
    float: right;
    margin-right: 50px;
}
/*--ended 对心理健康的影响--*/

/*--start 网络诈骗--*/
#netfraud{
    /*background: #fdf1e6;*/
    background: #dd7674;
}
.banner {
    position: relative;
    overflow: auto;
    text-align: center;
    color: #fff;
}
.banner li {
    list-style: none;
    float: left;
    background: #dd7674;
    height: 800px;
    text-align: center;
    vertical-align: middle;
}
.banner h3{
    margin-bottom: 40px;
}
.banner .dots {
    position: absolute;
    width:320px;
    left:0;
    right: 0;
    text-align: center;
    margin:0 auto;
    padding-left: 40px;
    bottom: 40px;
}
.banner .dots li{
    display: inline-block;
    background: url('../images/dot.png') center top no-repeat;
    background-size: 25px auto;
    height: 25px;
    margin:0 10px;
    text-indent: -9999px !important;
    width: 25px;
}
.banner .dots li.active{
    background-position: bottom center;
}
.banner .arrow {
    position: absolute;
    top: 50%;
    margin-top: -39px;
    outline: 0;
    width: 49px;
    height: 78px;
    text-indent: -9999px;
    z-index: 9999;
}
.unslider-arrow{
    position: absolute;
    top: 400px;
    width: 49px;
    height: 78px;
    text-indent: -9999px;
    z-index: 9999;
}
.prev{
    background: url('../images/arrowl.png') center top no-repeat;
    background-size: 49px auto;
    left: 10px;
}
.next{
    background: url('../images/arrowr.png')  center top  no-repeat;
    background-size: 49px auto;
    right: 10px;
}
.unslider-arrow:hover{
    background-position:center bottom;
}
.caseImg{
    height: 400px;
    margin: 0 auto;
    position: relative;
    width: 400px;
}
.caseImgFirst{
    height: 510px;
    margin: 0 auto;
    position: relative;
    width: 510px;
    top:80px;
}
.caseImg>img,.caseImgFirst>img{
    left: 0;
    position: absolute;
    z-index: 0;
}
.caseImg>img{
    width: 350px !important;
    height: 350px;
}
.caseImgFirst>img{
    width: 500px;
    height: 500px;
}
.caseMask{
    background: url('../images/mask.png') ;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    height: 350px;;
    position: absolute;
    top: 0;
    width:350px;
    z-index: 5;
}
.preventFraud{
    background: #fdf1e6;
    padding-top: 50px;
}
.preventFraud h2{
    border:5px solid #6c6;
    width:300px;
    margin:0 auto;
    padding:10px 20px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px #6c6;
}
.preventFraud .fa{
    color:#6c6;
    font-size: 35px;
}
.tip{
    width:25%;
    float: left;
    height: 400px;
}
.tip p{
    width:70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30%;
    font-size: 1.5em;
}
.tips1{
    background: url('../images/tips1.png') no-repeat;
    background-size: 100%;
}
.tips2{
    background: url('../images/tips2.png') no-repeat;
    background-size: 100%;
}
.tips3{
    background: url('../images/tips3.png') no-repeat;
    background-size: 100%;
}
.tips4{
    background: url('../images/tips4.png') no-repeat;
    background-size: 100%;
}
.slogan{
    border:5px solid gray;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    width:70%;
    margin:0 auto;
    padding: 10px 0;
}
.slogan p{
    font-size: 30px;
    width:450px;
    font-family: "华文行楷";
    margin:0 auto;
    text-indent: 0;
}
/*--ended 网络诈骗--*/

/*--start footer--*/
footer{
    position:relative;
    /*top:30px;*/
    background: #eee;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer p{
    text-align: center;
    color: #666;
    width: 60%;
    margin: 0 auto;
    font-family: '微软雅黑';
    font-size: 17px;
}
footer .fa{
    font-size: 20px;
}
/*--ended footer--*/
