*,body{
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/bacg.jpg) no-repeat center center;
    overflow: hidden;
    background-size: 100%;
	font-family: "微软雅黑","Araill";
}
.container{
    width:100%;
    height: 800px;
    z-index: -99;
    background: rgba(0,0,0,0.5);
    border:1px solid #eee;
    border-radius: 5px;
}
ul{
	list-style:none;
	padding: 0;
	margin: 0;
}

a:link,a:visited,a:focus{
	text-decoration: none;
	outline: none;
}

*,*:after,*:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:bborder-box;
	box-sizing:border-box;/*防止任意标签生成的效果影响盒子大小*/
}

*:after,*:before{
	display:block;
	content:"";
}

*:after{
	clear:both;
	}/*清除浮动*/

/*Navgation*/
.nav{
	width:800px;
	height:300px;
	margin:120px 50px 200px 100px;
}

.nav li{
	display: inline-block;
	margin:0em 1em;
}

.tooltip{/*a*/
	display: inline-block;
    color: #FFFAFA;
    font-size: 20px;
	padding: 0.15em 0.25em 0 0 ;
	position: relative;
	z-index: 999;/*设置元素的堆叠顺序*/
}

.tooltip:hover{
    border-bottom: 3px solid #fff;
	}/*字体颜色变化*/

.tooltip .tooltip-content {/*图标span*/
	position: absolute;
	z-index: 9999;
	width: 80px;
	height: 80px;
	border-radius:50px;
	background: #fff;
	left:50%;
	margin-left: -40px;
	bottom: 100%;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 20px;
	color: #47c9af;
    font-size: 30px;
	opacity: 0;
	-webkit-transition:opacity 1s,webkit-transform 1s;
	transition:opacity 1s,transform 1s;
}

.tooltip .tooltip-content i{/*span图标*/
	opacity:0;
	-webkit-transition:opacity 1s,webkit-transform 1s;
	transition:opacity 1s,transform 1s;
}

.tooltip-effect .tooltip-content {
	-webkit-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
	transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
	-webkit-transform-origin:50% 100%;
	transform-origin:50% 100%;
}

.tooltip-effect .tooltip-content i{
	-webkit-transform:translate3d(0,20px,0);
	transform:rotate3d(0,20px,0);
}

.tooltip-effect .tooltip-content i{
	-webkit-transform:scale3d(0,0,1);
	transform:scale3d(0,0,1);
}

.tooltip:hover .tooltip-content,.tooltip:hover .tooltip-content i{
	opacity: 1;
	-webkit-transform:translate3d(0,0,0) rotate3d(1,1,1,0) scale3d(1,1,1);
	transform:translate3d(0,0,0) rotate3d(1,1,1,0) scale3d(1,1,1);
}

h1{
   color:#ffffff;
   /*border:3px solid #fff;*/
   width:50%;
   margin:0 auto;
   text-align:center;
   position: relative;
   font-size: 100px;
   font-family: 华文行楷;
   bottom:350px;
}

/*--start footer--*/
footer{
    position:absolute;
    bottom:20px;
    left:40%;
}
footer p{
    text-align: center;
    color: #ffffff;
}
footer .fa{
    font-size: 20px;
}
/*--ended footer--*/
